

//colors
$hover-paw-color: #FD653D;
$white-text: #FFFFFF;
$letter-gradient-light: #FD7452;
$letter-gradient-dark: #FF4265;
$button-gradient-light: #FF5A37;
$button-gradient-dark: #FF3778;
$background-gradient-light: #62005F;
$background-gradient-dark: #040006;
$dog-bacgr-gradient-light: #5B0E4E;
$dog-bacgr-gradient-dark: #140119;